/node_modules
/public/hot
/public/storage
/public/backups
/public/agent/*
/storage/*.key
/storage/framework/sessions
/vendor
/dhelson-development.git
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
