ol.progtrckr {
    margin: 0;
    padding: 0;
    list-style-type: none;
  transform: 90deg;
  overflow-y: scroll;
}

ol.progtrckr li {
    display: inline-block;
    text-align: left;
    line-height: 3.5em;
}

ol.progtrckr[data-progtrckr-steps="2"] li { width: 100%;height:100px;  }
ol.progtrckr[data-progtrckr-steps="3"] li { width: 100%; height:100px; }
ol.progtrckr[data-progtrckr-steps="4"] li { width: 100%;height:100px;  }
ol.progtrckr[data-progtrckr-steps="5"] li { width: 100%;height:100px; }
ol.progtrckr[data-progtrckr-steps="6"] li { width: 100%; height:100px; }
ol.progtrckr[data-progtrckr-steps="7"] li { width: 100%;height:100px;  }
ol.progtrckr[data-progtrckr-steps="8"] li { width: 100%;height:100px;  }
ol.progtrckr[data-progtrckr-steps="9"] li { width: 100%; height:100px; }

ol.progtrckr li.progtrckr-done {
    color: black;
    border-left: 4px solid yellowgreen;
}
ol.progtrckr li.progtrckr-todo {
    color: silver; 
    border-left: 4px solid silver;
}

ol.progtrckr li:after {
    content: "\00a0\00a0";
}
ol.progtrckr li:before {
    position: relative;
    left: -1.2em;
    float: left;
    right: 50%;
    line-height: 1em;
    text-align:center;
}
ol.progtrckr li.progtrckr-done:before {
    content: "\2713";
    color: white;
    background-color: yellowgreen;
    height: 2.2em;
    width: 2.2em;
    line-height: 2.2em;
    border: none;
    border-radius: 2.2em;
}
ol.progtrckr li.progtrckr-todo:before {
    content: "\039F";
    color: silver;
    background-color: white;
    font-size: 2.2em;
    right: 1.2em;
}

.span {
    background-color: #00adef;
    color: #fff;
    text-align: center;
    padding: 7px 23px;
    
    /* Position the tooltip */
    top: -5px;
  }
.span::after {
    content: "";
    position: absolute;
    top: 8%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #00adef transparent transparent;
    left: 6.5%;
}

